*{
  margin: 0;
}

.vh {
  display: flex;
  align-items: center;
  height: 80vh;
  border: 3px solid ;
  }


  .vw{
    height: 30vh;
    background-color: rgb(255, 0, 255);
    border: 3px solid;
  }
  body{
    background-color: rgb(93, 0, 243);
  }